@font-face {
  font-weight: 300;
  font-family: "Roboto";
  font-style: normal;

  src: url("../fonts/Roboto-300.woff2") format("woff2"), url("../fonts/Roboto-300.woff") format("woff");
}

@font-face {
  font-weight: 400;
  font-family: "Roboto";
  font-style: normal;

  src: url("../fonts/Roboto-400.woff2") format("woff2"), url("../fonts/Roboto-400.woff") format("woff");
}

@font-face {
  font-weight: 500;
  font-family: "Roboto";
  font-style: normal;

  src: url("../fonts/Roboto-500.woff2") format("woff2"), url("../fonts/Roboto-500.woff") format("woff");
}

@font-face {
  font-weight: 700;
  font-family: "Roboto";
  font-style: normal;

  src: url("../fonts/Roboto-700.woff2") format("woff2"), url("../fonts/Roboto-700.woff") format("woff");
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 1300px;
  margin: 0;
  padding: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  border: 0;

  clip: rect(0 0 0 0);
}

.container {
  width: 1175px;
  margin: 0 auto;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 375px;
}

.logo__img {
  width: 61px;
  height: 50px;
}

.logo__wrap {
  width: 293px;
}

.logo__title {
  margin: 0;
  margin-bottom: 6px;

  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.logo__descr {
  margin: 0;

  font-weight: normal;
  font-size: 10px;
  line-height: 15px;
  color: #ffffff;
  text-transform: uppercase;
}

.page-header {
  padding-top: 30px;
  padding-bottom: 12px;

  background-color: #ffffff;
  box-shadow: 0 5px 50px rgba(0, 0, 0, 0.05);
}

.page-header__wrap {
  padding-bottom: 22px;

  border-bottom: 1px solid rgba(171, 276, 117, 0.2);
}

.page-header__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.page-header__logo {
  width: 475px;
}

.page-header__logo-img {
  width: 339px;
  height: 57px;
}

.contacts-col {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 475px;
}

.contacts-col-wrap {
  margin-right: 25px;
  padding-top: 4px;
}

.contacts-col-item {
  position: relative;
}

.contacts-col-item--address,
.contacts-col-item--email {
  width: 275px;
  margin-bottom: 6px;
  padding-left: 22px;

  font-size: 14px;
  line-height: 23px;
  color: #000000;
}

.contacts-col-item::before {
  content: "";
  position: absolute;

  background-repeat: no-repeat;
  background-size: cover;
}

.contacts-col-item--address::before {
  top: 3px;
  left: 0;

  width: 10px;
  height: 14px;

  background-image: url("../img/pin-icon-green.svg");
}

.contacts-col-item--email::before {
  top: 8px;
  left: 0;

  width: 10px;
  height: 8px;

  background-image: url("../img/email-icon-green.svg");
}

.contacts-col-item--tel {
  width: 175px;
}

.contacts-col-item__descr {
  margin: 0;
}

.contacts-col-item__link {
  position: relative;

  display: block;
  margin-bottom: 7px;
  padding-left: 22px;

  font-size: 19px;
  line-height: 31px;
  color: #000000;
}

.contacts-col-item__link::before {
  content: "";
  position: absolute;
  top: 9px;
  left: 0;

  width: 14px;
  height: 14px;

  background-image: url("../img/phone-icon-green.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.contacts-col-item--tel .contacts-col-item__descr {
  font-size: 11px;
  line-height: 18px;
  color: #000000;
}

.page-header__link-wrap {
  padding-top: 4px;
}

.page-header__link {
  display: block;
  width: 175px;
  padding-top: 14px;
  padding-bottom: 16px;

  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  letter-spacing: 0.05em;

  background-color: #79be4f;
}

.page-header__link:hover {
  background-color: rgba(121, 190, 79, 0.9);
}

.page-header__nav {
  padding-top: 10px;
}

.main-nav-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.main-nav-list__item:last-child {
  margin-right: 0;
}

.main-nav-list__link {
  display: block;
  padding: 20px 15px;

  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #000000;
}

.page-content__wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  background-color: #72b748;
  background-image: url("../img/pattern-bg.jpg");
}

.page-content__container {
  position: relative;
}

.quote {
  width: 675px;
  min-height: 500px;
  padding-top: 141px;
  padding-bottom: 30px;
}

.quote__descr {
  margin: 0;
  margin-bottom: 54px;

  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #ffffff;
}

.quote__author {
  margin: 0;

  font-size: 22px;
  line-height: 31px;
  color: #ffffff;
}

.main-form-wrap {
  position: relative;
}

.main-form {
  position: absolute;
  top: 25px;
  right: 0;
  z-index: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 475px;
  padding-top: 57px;
  padding-bottom: 60px;

  background-color: #ffffff;
  border-radius: 3px;
  box-shadow: 0 10px 60px rgba(0, 0, 0, 0.08);
}

.main-form__title {
  width: 325px;
  margin: 0;
  margin-bottom: 32px;

  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #79be4f;
}

.main-form__input {
  width: 325px;
  height: 60px;
  margin-bottom: 20px;
  padding-right: 10px;
  padding-left: 30px;

  font-size: 16px;
  line-height: 26px;
  font-family: "Roboto", Arial, sans-serif;
  text-align: center;
  color: #000000;

  background-color: #f7f7f7;
  border: none;
}

.main-form__input:focus {
  outline: none;
}

.main-form__input:focus::placeholder {
  font-size: 0;
}

.main-form__input::placeholder {
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #707070;
}

.main-form__btn {
  width: 325px;
  margin-top: 10px;
  padding-top: 23px;
  padding-right: 20px;
  padding-bottom: 27px;
  padding-left: 20px;

  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  letter-spacing: 0.05em;

  background-color: #79be4f;
  border: none;
  cursor: pointer;
}

.main-form__btn:hover {
  background-color: rgba(121, 190, 79, 0.9);
}

.specialties {
  padding-top: 130px;
  padding-bottom: 84px;

  background-color: #ffffff;
}

.specialties__title {
  width: 775px;
  margin: 0 auto;
  margin-bottom: 38px;

  font-weight: 700;
  font-size: 30px;
  line-height: 46px;
  text-align: center;
  color: #000000;
}

.specialties__descr {
  width: 975px;
  margin: 0 auto;
  margin-bottom: 44px;

  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  color: #000000;
}

.specialties-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.specialties-list__item {
  margin-right: 25px;
  margin-bottom: 25px;

  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.08);
}

.specialties-list__item:last-child,
.specialties-list__item:nth-child(5n) {
  margin-right: 0;
}

.specialties-list__link {
  display: block;
  padding: 36px;

  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #000000;
  color: #000000;

  background-color: #ffffff;
}

.advantages {
  width: 100%;
  padding-top: 95px;
  padding-bottom: 89px;

  background-color: #f5f5f5;
}

.advantages__title {
  margin: 0;
  margin-bottom: 70px;

  font-weight: 700;
  font-size: 30px;
  line-height: 46px;
  text-align: center;
  color: #000000;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.advantages-list__item {
  width: 275px;
  margin-right: 25px;
  margin-bottom: 25px;
}

.advantages-list__item:last-child,
.advantages-list__item:nth-child(4n) {
  margin-right: 0;
}

.advantages-list__link {
  position: relative;

  display: flex;
  justify-content: center;
  height: 100%;
  min-height: 190px;
  padding-top: 115px;
  padding-bottom: 30px;

  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: #000000;

  background-color: #ffffff;
}

.advantages-list__link::before {
  content: "";
  position: absolute;
  top: 48px;
  left: 50%;

  width: 40px;
  height: 40px;

  background-image: url("../img/tool-icon.svg");
  transform: translate(-50%);
}

.advantages-list__link-descr {
  display: block;
  width: 220px;

  text-align: center;
}

.documents {
  padding-top: 106px;
  padding-bottom: 70px;

  border-bottom: 1px solid #f0f0f0;
}

.documents__title {
  margin: 0;
  margin-bottom: 70px;

  font-weight: 700;
  font-size: 30px;
  line-height: 46px;
  text-align: center;
  color: #000000;
}

.carousel-wrap {
  position: relative;
}

.carousel {
  width: 1175px;
  height: 275px;
  overflow: hidden;
}

.carousel-btn {
  position: absolute;

  width: 60px;
  height: 60px;

  color: #ffffff;

  background-color: #79be4f;
  border: none;
  border-radius: 50%;
  transform: translate(0, -50%);
  cursor: pointer;
}

.carousel-btn--prev {
  top: 50%;
  left: -30px;
}

.carousel-btn--next {
  top: 50%;
  right: -30px;
}

.carousel-btn:hover {
  opacity: 0.8;
}

.carousel-btn::before {
  content: "";
  position: absolute;
  top: 25px;
  right: 22px;

  width: 13px;
  height: 3px;

  background-color: #ffffff;
  transform: rotate(-45deg);
}

.carousel-btn::after {
  content: "";
  position: absolute;
  top: 32px;
  right: 22px;

  width: 13px;
  height: 3px;

  background-color: #ffffff;
  transform: rotate(45deg);
}

.carousel-btn--next::before {
  transform: rotate(45deg);
}

.carousel-btn--next::after {
  transform: rotate(-45deg);
}

.carousel-list {
  width: 9999px;
  height: 275px;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.carousel-list__item {
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  width: 275px;
  height: 275px;
  margin-right: 25px;
}

.carousel-list__item-img {
  display: block;
}

.licenses {
  padding-top: 65px;
  padding-bottom: 103px;
}

.licenses__title {
  margin: 0;
  margin-bottom: 70px;

  font-weight: 700;
  font-size: 30px;
  line-height: 46px;
  text-align: center;
  color: #000000;
}

.licenses-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.licenses-list__item {
  margin-right: 25px;
  padding: 15px;

  background-color: #ffffff;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}

.licenses-list__item:last-child {
  margin-right: 0;
}

.licenses-list__item-img {
  width: 146px;
  height: 206px;
}

.reviews {
  padding-top: 95px;
  padding-bottom: 60px;

  background-color: #f5f5f5;
}

.reviews__title {
  margin: 0;
  margin-bottom: 35px;

  font-weight: 700;
  font-size: 30px;
  line-height: 46px;
  text-align: center;
  color: #000000;
}

.slider-wrap {
  position: relative;

  margin-bottom: 50px;
}

.slider {
  width: 1175px;
  height: 320px;
  overflow: hidden;
}

.slider-btn {
  position: absolute;
  top: 50%;

  width: 60px;
  height: 60px;

  color: #ffffff;

  background-color: #79be4f;
  border: none;
  border-radius: 50%;
  transform: translate(0, -50%);
  cursor: pointer;
  z-index: 1;
}

.slider-btn--prev {
  left: 0;
}

.slider-btn--next {
  right: 0;
}

.slider-btn:hover {
  opacity: 0.8;
}

.slider-btn::before {
  content: "";
  position: absolute;
  top: 25px;
  right: 22px;

  width: 13px;
  height: 3px;

  background-color: #ffffff;
  transform: rotate(-45deg);
}

.slider-btn::after {
  content: "";
  position: absolute;
  top: 32px;
  right: 22px;

  width: 13px;
  height: 3px;

  background-color: #ffffff;
  transform: rotate(45deg);
}

.slider-btn--next::before {
  transform: rotate(45deg);
}

.slider-btn--next::after {
  transform: rotate(-45deg);
}

.slider-list {
  width: 9999px;
  height: 320px;
  margin: 0;
  padding: 0;
  padding-left: 100px;

  list-style-type: none;
}

.slider-list__item {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  float: left;
  width: 888px;
  margin-right: 100px;
  margin-left: 87px;
  padding-top: 58px;
  padding-right: 100px;
  padding-bottom: 62px;
  padding-left: 148px;

  background-color: #ffffff;
}

.slider-list__item-img {
  position: absolute;
  top: 57px;
  left: -72px;

  display: block;

  border: 15px solid #ffffff;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}

.slider-list__item-title {
  width: 280px;
  margin: 0;
  margin-right: 25px;
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #79be4f;
}

.slider-list__item-time {
  display: block;
  width: 280px;
  margin-bottom: 20px;
  padding-top: 4px;

  font-size: 16px;
  line-height: 24px;
  color: #999999;
}

.slider-list__item-descr {
  width: 640px;
  margin: 0;

  font-size: 14px;
  line-height: 25px;
  color: #000000;
}

.contacts {
  position: relative;

  padding-top: 105px;
}

.contacts__title {
  margin: 0;
  margin-bottom: 63px;

  font-weight: 700;
  font-size: 30px;
  line-height: 46px;
  text-align: center;
  color: #000000;
}

.contacts-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.contacts-list__item {
  margin-right: 25px;
}

.contacts-list__item:last-child {
  margin-right: 0;
}

.contacts-list__item-descr {
  position: relative;

  margin: 0;
  padding: 45px 40px;
  padding-left: 75px;

  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: #000000;

  background-color: #ffffff;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.05);
}

.contacts-list__item-link {
  position: relative;

  display: block;
  padding: 45px 40px;
  padding-left: 75px;

  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: #000000;

  background-color: #ffffff;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.05);
}

.contacts-list__item-descr::before,
.contacts-list__item-link::before {
  content: "";
  position: absolute;
  top: 53px;
  left: 40px;

  background-repeat: no-repeat;
  background-size: cover;
}

.contacts-list__item-descr--address::before {
  width: 10px;
  height: 14px;

  background-image: url("../img/pin-icon-green.svg");
}

.contacts-list__item-link--tel::before {
  width: 14px;
  height: 14px;

  background-image: url("../img/phone-icon-green.svg");
}

.contacts-list__item-descr--email::before {
  width: 17px;
  height: 14px;

  background-image: url("../img/email-icon-green.svg");
}

.main-map {
  width: 100%;
  height: 440px;
  margin-top: -59px;

  background-image: url("../img/map-bg.jpg");
  background-position: center center;
  background-size: cover;
}

.main-map__iframe {
  width: 100%;
  height: 440px;

  border: none;
}

.page-footer {
  padding-top: 67px;
  padding-bottom: 70px;

  background-color: #5fab30;
}

.page-footer__wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1175px;
  margin: 0 auto;
}

.page-footer__logo {
  margin-bottom: 65px;
}

.contacts-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 750px;
  margin-bottom: 65px;
}

.contacts-row-item {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 30px;
}

.contacts-row-item--email .contacts-row-item__descr {
  padding-right: 0;
}

.contacts-row-item::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 40px;

  background-repeat: no-repeat;
  transform: translate(0, -50%);
}

.contacts-row-item--tel::before {
  width: 12px;
  height: 12px;

  background-image: url("../img/phone-icon-white.svg");
}

.contacts-row-item--address::before {
  width: 9px;
  height: 12px;

  background-image: url("../img/pin-icon-white.svg");
}

.contacts-row-item--email::before {
  width: 15px;
  height: 12px;

  background-image: url("../img/email-icon-white.svg");
}

.contacts-row-item::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -1px;

  width: 1px;
  height: 30px;

  background-color: #ffffff;
  transform: translate(0, -50%);
}

.contacts-row-item:last-child::after,
.contacts-row-item:nth-child(3n)::after {
  display: none;
}

.contacts-row-item__link {
  display: block;
  padding: 5px 40px;

  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}

.contacts-row-item__descr {
  margin: 0;
  padding: 10px 40px;

  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}

.page-footer__copyright {
  width: 100%;

  text-align: center;
}
.page-footer__copyright-descr {
  margin: 0;

  font-weight: 300;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
}

.breadcrumbs__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-top: 52px;
  margin-bottom: 47px;
  padding: 0;

  list-style-type: none;
}

.breadcrumbs__item {
  position: relative;

  margin-right: 29px;
}

.breadcrumbs__item::before {
  content: "\003e";
  position: absolute;
  top: 0;
  right: -20px;

  font-weight: 300;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
}

.breadcrumbs__item:last-child::before {
  display: none;
}

.breadcrumbs__link {
  font-weight: 300;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
}

.breadcrumbs__link--active {
  color: #999999;
}

.publication-date {
  display: block;
  margin-bottom: 50px;

  font-size: 16px;
  line-height: 16px;
  color: #999999;
}

.publication__title {
  width: 920px;
  margin: 0;
  margin-bottom: 52px;

  font-weight: 700;
  font-size: 50px;
  line-height: 70px;
  color: #000000;
}

.publication__img {
  width: 920px;
  height: 500px;
  margin-bottom: 69px;
}

.secondary-title {
  width: 395px;
  margin: 0;
  margin-bottom: 26px;

  font-weight: 700;
  font-size: 28px;
  line-height: 39px;
  color: #000000;
}

.publication__descr {
  width: 815px;
  margin: 0;
  margin-bottom: 58px;

  font-size: 16px;
  line-height: 28px;
  color: #000000;
}

.publication__descr-link {
  color: #5fab30;
}

.citation {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 815px;
  margin-bottom: 62px;
  padding: 62px 50px;
  padding-bottom: 60px;

  text-align: center;

  background-color: #f7f7f7;
}

.citation__descr {
  width: 660px;
  margin: 0;
  margin-bottom: 27px;

  font-weight: 700;
  font-size: 30px;
  line-height: 47px;
  text-align: center;
  color: #000000;
}

.citation__author {
  margin: 0;

  font-weight: 700;
  font-size: 20px;
  line-height: 47px;
  text-align: center;
  color: #5fab30;
}

.characteristics {
  width: 600px;
  margin-bottom: 57px;

  border-collapse: collapse;
  font-weight: 300;
  font-size: 16px;
  line-height: 34px;
  text-align: left;
  color: #333333;
}

.characteristics__col-left {
  width: 300px;
  padding-bottom: 4px;

  font-weight: 300;
}

.characteristics__col-right {
  width: 300px;
  padding-bottom: 4px;
}

.list__title {
  margin-bottom: 30px;

  font-size: 26px;
  line-height: 34px;
}

.list {
  margin: 0;
  margin-bottom: 64px;
  padding: 0;

  list-style-type: none;

  counter-reset: li;
}

.list__item {
  position: relative;

  margin-bottom: 10px;

  font-size: 16px;
  line-height: 28px;
  color: #000000;
}

.list__item::before {
  position: absolute;
  left: -40px;
}

.list__item--marker:before {
  content: "";
  position: absolute;
  top: 13px;

  width: 15px;
  height: 2px;

  background-color: #79be4f;
}

.list__item--number::before {
  content: counter(li) ".";
  top: 0;

  font-weight: 900;
  font-size: 16px;
  line-height: 28px;
  color: #79be4f;

  counter-increment: li;
}

.list__item__link {
  color: #000000;
}

.main-table-wrap__title {
  margin-bottom: 34px;

  font-size: 26px;
  line-height: 34px;
}

.main-table {
  margin-bottom: 60px;

  border-collapse: collapse;
  font-size: 16px;
  line-height: 34px;
  text-align: center;
}

.main-table__th {
  width: 204px;
  padding: 17px 36px;

  font-weight: 400;
  color: #ffffff;

  background-color: #5fab30;
  border-right: 1px solid #ffffff;
}

.main-table__th:first-child {
  width: 105px;
  padding: 18px 12px;
}

.main-table__th:last-child {
  border-right: none;
}

.main-table__td {
  width: 204px;
  padding-top: 12px;
  padding-right: 36px;
  padding-bottom: 13px;
  padding-left: 36px;

  border: 1px solid #ededed;
}

.main-table__row .main-table__td:first-child {
  width: 105px;
  padding-right: 0;
  padding-left: 0;

  font-size: 14px;
  line-height: 30px;
}

.main-table__row:nth-child(2n) .main-table__td {
  background-color: #f8f8f8;
}

.main-table__row:nth-child(2n) .main-table__td:first-child {
  background: none;
}

.main-table__td:first-child {
  border-left: none;
}

.main-table__td:last-child {
  border-right: none;
}

.social-list {
  display: flex;
  margin: 0;
  margin-bottom: 117px;
  padding: 0;

  list-style-type: none;
}

.social-item {
  margin-right: 20px;
}

.social-item:last-child {
  margin-right: 0;
}

.social-item__link {
  position: relative;

  display: block;
  width: 44px;
  height: 44px;

  border: 1px solid #e5e5e5;
  border-radius: 50%;
}

.social-item__link:hover {
  background: #5fab30;
  border: 1px solid rgba(95, 171, 48, 0.5);
}

.social-item__link::before {
  content: "";
  position: absolute;

  width: 44px;
  height: 44px;

  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 50%;
}

.social-item__link--fb::before {
  background-image: url("../img/facebook-icon-green.svg");
}

.social-item__link--fb:hover::before {
  background-image: url("../img/facebook-icon-white.svg");
}

.social-item__link--ok::before {
  background-image: url("../img/ok-icon-green.svg");
}

.social-item__link--ok:hover::before {
  background-image: url("../img/ok-icon-white.svg");
}

.social-item__link--twitter::before {
  background-image: url("../img/twitter-icon-green.svg");
}

.social-item__link--twitter:hover::before {
  background-image: url("../img/twitter-icon-white.svg");
}

.social-item__link--vk::before {
  background-image: url("../img/vk-icon-green.svg");
}

.social-item__link--vk:hover::before {
  background-image: url("../img/vk-icon-white.svg");
}

.social-item__link--telegram::before {
  background-image: url("../img/telegram-icon-green.svg");
}

.social-item__link--telegram:hover::before {
  background-image: url("../img/telegram-icon-white.svg");
}

.social-item__link--google::before {
  background-image: url("../img/google-icon-green.svg");
}

.social-item__link--google:hover::before {
  background-image: url("../img/google-icon-white.svg");
}

.page-title {
  margin: 0;
  margin-bottom: 60px;

  font-weight: 700;
  font-size: 50px;
  line-height: 64px;
  color: #000000;
}

.contacts-map {
  width: 875px;
  height: 400px;
  margin-bottom: 56px;

  background-image: url("../img/contacts-map.jpg");
  background-position: center center;
  background-size: cover;
}

.contacts-map__iframe {
  width: 875px;
  height: 400px;

  border: none;
}

.contacts-info {
  margin-bottom: 58px;
}

.contacts-info__descr {
  margin: 0;
  margin-bottom: 10px;

  font-size: 16px;
  line-height: 28px;
  color: #000000;
}

.contacts-map__list {
  margin-bottom: 54px;
}

.list__item--no-marker::before {
  display: none;
}

.leaders {
  padding-top: 60px;
  padding-bottom: 97px;

  border-top: 1px solid #f0f0f0;
}

.leaders__title {
  margin: 0;
  margin-bottom: 34px;

  font-weight: 700;
  font-size: 26px;
  line-height: 34px;
  color: #000000;
}

.leaders-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.leaders-item__img {
  width: 275px;
  height: 260px;
  margin-bottom: 22px;

  border: 10px solid #e8e8e8;
}

.leaders-item__name {
  margin: 0;
  margin-bottom: 18px;

  font-weight: 700;
  font-size: 20px;
  line-height: normal;
  text-align: center;
  color: #000000;
}

.leaders-item__post {
  margin: 0;

  font-size: 16px;
  text-align: center;
  color: #777777;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  display: none;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.35);
}

.overlay--show {
  display: block;
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;

  display: none;
  width: 575px;

  background-color: #ffffff;
  border-radius: 3px;
  transform: translate(-50%, -50%);
}

.popup--show {
  display: block;
}

.popup__wrap {
  position: relative;

  padding-top: 190px;
  padding-right: 106px;
  padding-bottom: 82px;
  padding-left: 106px;
}

.popup__wrap::before {
  content: "";
  position: absolute;
  top: 80px;
  left: 50%;

  width: 80px;
  height: 80px;

  border: 1px solid #79be4f;
  border-radius: 50%;
  transform: translate(-50%);
}

.popup-error .popup__wrap::before {
  border-color: #ff4e4e;
}

.popup__wrap::after {
  content: "";
  position: absolute;
  left: 50%;

  background-repeat: no-repeat;
  background-size: cover;
  transform: translate(-50%);
}

.popup-ok .popup__wrap::after {
  top: 112px;

  width: 22px;
  height: 16px;

  background-image: url("../img/popup-ok.svg");
}

.popup-error .popup__wrap::after {
  top: 111px;

  width: 18px;
  height: 18px;

  background-image: url("../img/popup-error.svg");
}

.popup__descr {
  width: 360px;
  margin: 0;

  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #000000;
}

.popup__close {
  position: absolute;
  top: 40px;
  right: -70px;

  width: 30px;
  height: 30px;

  background: none;
  background-image: url("../img/popup-close.svg");
  background-size: cover;
  border: none;
  cursor: pointer;
}
